* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}

a {
  cursor: pointer;
}

input:focus-visible {
  outline: gray auto 1px;
}

h1 {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

main {
  padding: 32px 16px;
}

header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#topbar {
  background-color: #222222;
  color: #ffffff;
  padding: 16px;
  font-size: 14px;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

#header-top-banner {
  display: none;
}

#header-top h1 {
  color: #222;
  font-weight: 900;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

#header-top h2 {
  display: none;
}

#menu {
  box-sizing: content-box;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  width: 0;
  min-height: 100vh;
  overflow: hidden;
  transition: 0.25s ease-in;
  left: 0;
  top: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#menu-content {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: #ffffff;
  color: #222;
  flex-direction: column;
}

#menu-content nav > a {
  color: #222;
  text-decoration: none;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

#menu-content nav > a:last-child {
  margin-bottom: 0;
}

#menu-content a > .fas {
  margin-right: 18px;
  font-size: 14px;
}

#menu-content-title {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding-bottom: 14px;
}

#menu-content-primary {
  margin-bottom: 64px;
}

#menu-content form {
  display: flex;
}

.menu-button {
  background-color: white;
  padding: 8px;
  border: none;
}

.input-group input {
  height: 36px;
  border: 1px solid #222;
  padding: 8px;
}

.input-group label {
  display: inline-block;
  margin-bottom: 6px;
}

.input-group {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
}

.fas {
  color: black;
}

.search-button {
  background-color: #222;
  padding: 12px;
  height: 36px;
}

.search-button > .fas {
  color: white;
}

#open-menu-button {
  background-color: #222222;
}

#open-menu-button .fas {
  color: white;
}

#close-menu-button {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: #ffffff;
}

#close-menu-button .fas {
  color: #222222;
}

/* ----- REDAKCE ----- */
.redakce-obsah {
  display: flex;
  justify-content: space-between;
}

.redakce-karta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.redakce-karta img {
  width: 100%;
}

.redakce-pozice {
  color: grey;
  font-size: 1.3rem;
}

.redakce-mail {
  margin: 0;
}

.redakce-mail button {
  color: white;
  background-color: #222333;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  height: 3rem;
}

.redakce-mail button:hover {
  background-color: orange;
}

/* ----- FOOTER ----- */
footer {
  padding: 12px 0;
  text-align: center;
  border-top: 1px solid #d1d5db;
}

#footer-bottom-description {
  color: #777777;
  font-weight: lighter;
}

#footer-top {
  margin-bottom: 12px;
}

.social-link {
  padding: 8px;
  border: 1px solid #777777;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #222222;
  margin-right: 8px;
  text-decoration: none;
}

.social-link:hover {
  background-color: #222222;
  color: #ffffff;
}

#footer-top i:visited {
  /* Ikony se barvily do černa, pokud na ně uživatel klikl */
  color: #000000;
}

#footer-bottom {
  display: flex;
  flex-direction: column;
}

#footer-bottom-description {
  margin-bottom: 18px;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  #topbar {
    padding: 18px 64px;
    font-weight: bold;
  }

  #header {
    display: block;
    padding: 0 64px;
    padding-bottom: 24px;
  }

  #header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
  }

  #header-top-banner {
    height: 120px;
    width: 720px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
  }

  #header-top h1 {
    margin-bottom: 16px;
    font-size: 48px;
  }

  #header-top h2 {
    display: block;
    font-weight: 900;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }

  #menu {
    position: relative;
    width: 100%;
    min-height: 0;
    visibility: visible;
    box-shadow: none;
  }

  #menu-content {
    width: 100%;
    padding: 0;
  }

  #menu-content > div {
    width: 100%;
  }

  #menu-content-primary {
    margin-bottom: 0;
  }

  #menu-content-title {
    display: none;
  }

  #menu-content nav {
    display: flex;
    width: 100%;
  }

  #menu-content nav > a {
    margin-bottom: 0;
    text-transform: uppercase;
    margin-right: 28px;
    font-size: 13px;
  }

  #menu-content nav > a:last-child {
    margin-right: 0;
  }

  #menu-content > div {
    display: flex;
    margin-bottom: 24px;
  }

  #menu-content form {
    display: flex;
    align-items: center;
  }

  #menu-content-primary a > .fas {
    display: none;
  }

  #menu-content-secondary {
    justify-content: flex-end;
  }

  .input-group {
    margin-bottom: 0;
  }

  nav div {
    display: flex;
    flex-wrap: wrap;
  }

  nav div a {
    margin-right: 16px;
  }

  #open-menu-button {
    display: none;
  }

  #close-menu-button {
    display: none;
  }

  footer {
    padding: 24px 64px;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
