* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

:root {
  /* Color */
  --color-primary: #1f2937;
  --color-secondary: #ffffff;
  --color-gray: #777777;

  /* Background Color */
  --bg-color-primary: #1f2937;
  --bg-color-secondary: #ffffff;

  --bg-color-primary-transparent: rgba(34, 34, 34, 0.75);

  /* Box Shadow */
  --box-shadow-primary: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --box-shadow-secondary: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;

  /* Border Radius */
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 6px;
  --border-radius-xl: 10px;
  --border-radius-2xl: 14px;
  --border-radius-full: 100%;

  /* Font Size */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;

  /* Font Family */
  --font-primary: "Segoe UI", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

body {
  background-color: #f9fafb;
  font-family: var(--font-primary);
}

button {
  display: flex;
  cursor: pointer;
  border: 0;
  padding: 10px 14px;
  font-size: var(--font-size-sm);
  background-color: var(--bg-color-primary);
  font-weight: 600;
  color: var(--color-secondary);
  border-radius: var(--border-radius-sm);
}

button:hover {
  background-color: gray;
}

textarea {
  border: 1px solid #e5e7eb;
  border-radius: var(--border-radius-sm);
  padding: 8px;
}

small {
  font-size: var(--font-size-xs);
}

a {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
}

p {
  line-height: 20px;
}

a:hover {
  text-decoration: underline;
}

input:focus-visible {
  outline: gray auto 1px;
}

h1 {
  font-weight: bold;
  font-size: var(--font-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

main {
  padding: 32px 16px;
}

header {
  background-color: var(--bg-color-secondary);
  box-shadow: var(--box-shadow-primary);
}

#topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-primary);
  color: var(--color-secondary);
  padding: 16px;
  font-size: var(--font-size-sm);
  text-align: center;
  font-weight: 600;
}

#topbar-left {
  display: flex;
  gap: 10px;
}

#topbar-left a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-secondary);
}

#topbar-right a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-secondary);
}

#topbar .fas {
  color: var(--color-secondary);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

#header-top-banner {
  display: none;
}

#header-top h1 {
  color: var(--color-primary);
  font-weight: 900;
  font-size: var(--font-size-2xl);
  font-family: var(--font-secondary);
}

#header-top h2 {
  display: none;
}

#menu {
  box-sizing: content-box;
  position: absolute;
  display: flex;
  background-color: var(--bg-color-primary-transparent);
  width: 0;
  min-height: 100%;
  overflow: hidden;
  transition: 0.25s ease-in;
  left: 0;
  top: 0;
  visibility: hidden;
  box-shadow: var(--box-shadow-primary);
}

#menu-content {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: var(--bg-color-secondary);
  color: var(--color-primary);
  flex-direction: column;
}

#menu-content nav > a {
  color: var(--color-primary);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

#menu-content nav > a:last-child {
  margin-bottom: 0;
}

#menu-content a > .fas {
  margin-right: 18px;
  font-size: var(--font-size-sm);
}

#menu-content-title {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding-bottom: 14px;
}

#menu-content-primary {
  margin-bottom: 64px;
}

#menu-content form {
  display: flex;
}

#menu-content .input-group {
  margin-right: 10px;
}

.menu-button {
  background-color: var(--color-secondary);
  padding: 8px;
  border: none;
}

.input-group input {
  height: 36px;
  border: 1px solid var(--color-primary);
  padding: 8px;
}

.input-group label {
  font-size: var(--font-size-sm);
  color: var(--color-primary);
  font-weight: 600;
}

.input-group p {
  font-size: var(--font-size-sm);
  color: #6b7280;
  display: inline-block;
}

.input-group {
  display: flex;
  width: 100%;
  gap: 8px;
  flex-direction: column;
}

.fas {
  color: var(--color-primary);
}

.search-button {
  background-color: var(--bg-color-primary);
  padding: 12px;
  height: 36px;
}

.search-button > .fas {
  color: var(--color-secondary);
}

#open-menu-button {
  background-color: var(--bg-color-primary);
}

#open-menu-button:hover {
  background-color: var(--bg-color-primary-transparent);
}

#open-menu-button .fas {
  color: var(--color-secondary);
}

#close-menu-button {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: var(--bg-color-secondary);
}

#close-menu-button .fas {
  color: var(--color-primary);
}

/* Section */

.news-section > h2 {
  font-size: var(--font-size-2xl);
  font-family: var(--font-secondary);
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 28px;
}

/* Card */

.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 26px;
}

.card {
  background-color: white;
  color: var(--color-primary);
  box-shadow: var(--box-shadow-primary);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.card-background {
  background-size: cover;
  background-position: center;
  height: 144px;
}

.card-body {
  padding: 20px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-title > h3 {
  font-size: var(--font-size-lg);
  font-weight: bolder;
}

.card-body > p {
  font-size: var(--font-size-sm);
}

.card-footer {
  border-top: 1px solid #e5e7eb;
  padding: 20px;
}

.card-footer > a {
  font-size: var(--font-size-sm);
}

/* Article */

.article {
  display: grid;
  grid-template-areas: "article" "social" "articles" "comments";
  grid-template-columns: 1fr;
  gap: 20px;
}

.article-content p {
  margin-bottom: 16px;
}

.article-content p:last-child {
  margin-bottom: 0;
}

.article-social {
  grid-area: social;
  display: flex;
  gap: 20px;
}

.article-content {
  grid-area: article;
}

.article-content > h2 {
  font-size: var(--font-size-3xl);
  font-family: var(--font-secondary);
  font-weight: 800;
  margin-bottom: 20px;
}

.article-image > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.article-image {
  margin-bottom: 10px;
}

.article-image > figcaption {
  font-style: italic;
}

.article-comment-area {
  grid-area: comments;
}

.article-other {
  grid-area: articles;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-other > h3 {
  font-size: var(--font-size-lg);
  font-family: var(--font-secondary);
  font-weight: 800;
}

.article-new-comment {
  box-shadow: var(--box-shadow-primary);
  background-color: var(--bg-color-secondary);
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--border-radius-sm);
  margin-bottom: 10px;
}

.article-comment-area > h3 {
  font-size: var(--font-size-lg);
  font-family: var(--font-secondary);
  font-weight: 800;
  margin-bottom: 20px;
}

.article-new-comment-author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.article-new-comment-author div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.article-new-comment-author h4 {
  font-size: var(--font-size-base);
  font-weight: 600;
}

.article-new-comment-author a {
  font-size: var(--font-size-sm);
  color: #6b7280;
}

.article-new-comment-author > img {
  border-radius: var(--border-radius-full);
  object-fit: cover;
  width: 40px;
}

.article-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

.article-comment > img {
  border-radius: var(--border-radius-full);
  object-fit: cover;
  width: 40px;
}

.article-comment {
  box-shadow: var(--box-shadow-primary);
  background-color: var(--bg-color-secondary);
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-sm);
  gap: 16px;
}

.article-comment.nested {
  margin-left: 16px;
}

.article-comment div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.article-comment h4 {
  font-size: var(--font-size-base);
  font-weight: 600;
}

.article-comment p {
  font-size: var(--font-size-sm);
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination li.selected a {
  background-color: var(--bg-color-primary);
  color: var(--bg-color-secondary);
  border: none;
}

.pagination a {
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-full);
  color: var(--color-primary);
  font-weight: 600;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* ----- REDAKCE ----- */

.redakce-obsah {
  display: flex;
  justify-content: space-between;
}

.redakce-karta {
  box-shadow: var(--box-shadow-primary);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.redakce-karta img {
  width: 100%;
}

.redakce-pozice {
  color: grey;
  font-size: var(--font-size-xl);
}

.redakce-mail {
  margin: 0;
}

.redakce-mail button {
  color: var(--color-secondary);
  background-color: var(--bg-color-primary);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: var(--font-size-lg);
  height: 3rem;
}

.redakce-mail button:hover {
  background-color: orange;
}

/* ----- FOOTER ----- */
footer {
  padding: 24px 12px;
  text-align: center;
  border-top: 1px solid #d1d5db;
}

#footer-bottom-description {
  color: #777777;
  font-weight: lighter;
}

#footer-top {
  margin-bottom: 12px;
}

.social-link {
  padding: 8px;
  border: 1px solid var(--color-gray);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-full);
  color: var(--color-primary);
  margin-right: 8px;
}

.social-link:hover {
  background-color: var(--bg-color-primary);
  color: var(--color-secondary);
  text-decoration: none;
}

#footer-top i:visited {
  /* Ikony se barvily do černa, pokud na ně uživatel klikl */
  color: #000000;
}

#footer-bottom {
  display: flex;
  flex-direction: column;
}

a#footer-bottom-description {
  margin-bottom: 18px;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  main {
    padding: 64px;
  }

  #topbar {
    padding: 18px 64px;
  }

  #header {
    display: block;
    padding: 0 64px;
    padding-bottom: 24px;
  }

  #header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
  }

  #header-top-banner {
    height: 120px;
    width: 40%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
  }

  #header-top h1 {
    margin-bottom: 16px;
    font-size: var(--font-size-5xl);
  }

  #header-top h2 {
    display: block;
    font-weight: 900;
    font-size: var(--font-size-lg);
    font-family: var(--font-secondary);
  }

  #menu {
    position: relative;
    width: 100%;
    min-height: 0;
    visibility: visible;
    box-shadow: none;
  }

  #menu-content {
    width: 100%;
    padding: 0;
  }

  #menu-content > div {
    width: 100%;
  }

  #menu-content-primary {
    margin-bottom: 0;
  }

  #menu-content-title {
    display: none;
  }

  #menu-content nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #menu-content nav > a {
    margin-bottom: 0;
    text-transform: uppercase;
    margin-right: 28px;
    font-size: var(--font-size-xs);
  }

  #menu-content nav > a:last-child {
    margin-right: 0;
  }

  #menu-content > div {
    display: flex;
    margin-bottom: 24px;
  }

  #menu-content form {
    display: flex;
    align-items: center;
  }

  #menu-content-primary a > .fas {
    display: none;
  }

  #menu-content-secondary {
    justify-content: flex-end;
  }

  .input-group {
    margin-bottom: 0;
  }

  nav div {
    display: flex;
    flex-wrap: wrap;
  }

  nav div a {
    margin-right: 16px;
  }

  #open-menu-button {
    display: none;
  }

  #close-menu-button {
    display: none;
  }

  /* Article */

  .article {
    display: grid;
    grid-template-areas: "social article articles" ". article ." ". comments .";
    grid-template-columns: 1fr 3fr 1fr;
    gap: 80px;
  }

  .article-social {
    flex-direction: column;
  }

  /* Card */

  .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  footer {
    padding: 24px 64px;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
